@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');
body{
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  font-family: 'Oswald', sans-serif;
}

#app{
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.loading{
  font-size: 40px;
  animation: loading 0.9s infinite;
  text-align: center;
}

@keyframes loading {
  0%{
    color: #000;
  }
  50%{
    color: #7e7e7e;
  }
  100%{
    color: #000;
  }
}

.question{
  font-size: 20px;
}

.answers{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

.answer{
  background: #0000003b;
  padding: 5px;
  border-radius: 4px;
  min-width: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
}

.answer:hover{
  background: #000;
  color: #fff;
}

.done{
  text-align: center;
}
.final-score{
  font-size: 30px;
  text-align: center;
  margin: 20px 0;
}

.btn-again{
  background: #2f2f2f;
  color: #fff;
  padding: 10px 40px;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 200px;
  border: none;
}

.btn-again:hover{
  background: #000;
}